In [47]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
# https://www.analyticsvidhya.com/blog/2021/01/a-guide-to-the-naive-bayes-algorithm/
# https://heartbeat.fritz.ai/naive-bayes-classifier-in-python-using-scikit-learn-13c4deb83bcf

In [55]:
df = pd.read_csv(r"C:\Users\yuanhao.hsu\Desktop\subscribers\subscribers.csv")
df.head()

           Age Sex Income Residence  Subscribes
0       senior   M    low   country           1
1  young adult   M    low    suburb           0
2       gen. X   F    low    suburb           0
3  young adult   F    low    suburb           0
4       gen. X   M   high      city           1

In [56]:
d ={'adult':0, 'gen. X':1, 'young adult':2, 'senior':3}
df['Age'] = df['Age'].map(d)

d1= {'M':0,'F':1}
df['Sex'] = df['Sex'].map(d1)

d2 ={'low':1,'average':2,'high':3}
df['Income'] = df['Income'].map(d2)

d3={'city':1,'country':2,'suburb':3}
df['Residence'] = df['Residence'].map(d3)

print(df)

      Age  Sex  Income  Residence  Subscribes
0       3    0       1          2           1
1       2    0       1          3           0
2       1    1       1          3           0
3       2    1       1          3           0
4       1    0       3          1           1
...   ...  ...     ...        ...         ...
1019    2    0       2          3           0
1020    1    0       2          2           1
1021    1    1       1          3           0
1022    0    0       1          1           0
1023    2    0       2          1           1

[1024 rows x 5 columns]

In [57]:
x = df.drop('Subscribes', axis=1)
y = df['Subscribes']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [58]:
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()